:root{
    --tea4: #2bb8b0;
}

body {
  overflow: hidden;  /* prevents scrolling */
}
.container{ 
    display:flex;
    flex-direction: column;
    margin: 0px;
    background: lightgray;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;


}

.header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 9px;
    width: 100%;
    margin-top: 0;
    background: white;
    padding: 20px 20px;


}

.header .text{
    color: var(--tea4);
    font-size: 32px;
    font-weight: 700;


}

.search-input {
  width: 480px; 
  max-width: 90%; 
  height: 50px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #eaeaea;
  font-size: 19px;
  color: #797979;
  outline: none;
  margin-left: 10px;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin:60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: var(--tea4);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}